name: workspace

services:
  postgres:
    image: postgres:latest
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=postgres

volumes:
  pg_data:
