name: workspace

services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=postgres
  
  jellyfin:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    ports:
      - "8096:8096"
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - "/home/dhwanil/Videos/.private:/Private"

volumes:
  pg_data: