services:
  postgres:
    image: postgres:latest
    container_name: postgres
    hostname: postgres
    restart: on-failure:3
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db:/var/lib/postgresql/data

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    hostname: nextcloud
    restart: on-failure:3
    ports:
      - "8080:80"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=postgres
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=admin@password
    volumes:
      - nextcloud:/var/www/html
    depends_on:
      - postgres

volumes:
  nextcloud:
  db:
